{% extends 'layout.html' %}
{% block content %}

<div id="masonry" class="row grid">
{% for movie in movies %}
	<div class="col-md-3 col-xs-6 grid-item">
		<div id="movieCell">
			<img width="200px" style="margin-bottom:5px" src="{{movie.picture}}">
			
			<div class="row">
				<b>{{ movie.name }}</b>
			</div>
			<div class="row">
				<div>
				<b> {{ movie.genre}}</b>	
				</div>
				<div>
				<b> {{ movie.duration}}</b>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}


{% block extrahead %}

<script type="text/javascript">
// $(document).ready(function(){
	

	setTimeout(function(){ $('.grid').masonry({
	  itemSelector: '.grid-item',
	  columnWidth: 210
	}); }, 100);
// })
	


</script>
{% endblock %}